
<div class="detalle">
  <mat-card *ngIf="hero" class="detalles" style="margin-bottom: 16px">
    <mat-card-header class="info">
      <mat-card-title>{{ hero.name }}</mat-card-title>
      <!-- <mat-card-subtitle>{{ hero.biography["full-name"] }}</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image [src]="hero.image.url" alt="{{ hero.name }}" />
    <mat-card-content>
      <p><strong>Inteligencia:</strong> {{ hero.powerstats.intelligence }}</p>
      <p><strong>Fuerza:</strong> {{ hero.powerstats.strength }}</p>
      <p><strong>Velocidad:</strong> {{ hero.powerstats.speed }}</p>
      <p><strong>Dureza:</strong>{{ hero.powerstats.durability }}</p>
      <p><span>Poder:</span>{{ hero.powerstats.power }}</p>
      <p><span>Combate:</span>{{ hero.powerstats.combat }}</p>
      <h3>Biografía</h3>
      <p><strong>Nombre completo:</strong> {{ hero.biography["full-name"] }}</p>
      <p><strong>Alter egos:</strong> {{ hero.biography["alter-egos"] }}</p>
      <p><strong>Alias:</strong> {{ hero.biography.aliases?.join(", ") }}</p>
      <p>
        <strong>Lugar de nacimiento:</strong
        >{{ hero.biography["place-of-birth"] }}
      </p>
      <p>
        <strong>Primera aparición:</strong
        >{{ hero.biography["first-appearance"] }}
      </p>
      <p><strong>Editorial:</strong> {{ hero.biography.publisher }}</p>
      <p><strong>Orientación:</strong> {{ hero.biography.alignment }}</p>

      <h3>Apariencia</h3>
      <p><strong>Género:</strong> {{ hero.appearance.gender }}</p>
      <p><strong>Raza:</strong> {{ hero.appearance.race }}</p>
      <p><strong>Altura:</strong> {{ hero.appearance.height?.join(" / ") }}</p>
      <p><strong>Peso:</strong> {{ hero.appearance.weight?.join(" / ") }}</p>
      <p><strong>Color de ojos:</strong> {{ hero.appearance["eye-color"] }}</p>
      <p>
        <strong>Color de cabello:</strong> {{ hero.appearance["hair-color"] }}
      </p>

      <h3>Trabajo</h3>
      <p><strong>Ocupación:</strong> {{ hero.work.occupation }}</p>
      <p><strong>Base:</strong> {{ hero.work.base }}</p>

      <h3>Conexiones</h3>
      <p>
        <strong>Afiliación a grupos:</strong
        >{{ hero.connections["group-affiliation"] }}
      </p>
      <p><strong>Familiares:</strong> {{ hero.connections.relatives }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="toggleRivals()">
        {{ mostrarRivales ? "Ocultar Rivales" : "Ver Rivales" }}
      </button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="mostrarRivales" class="detalles">
    <mat-card
      *ngFor="let rival of rivals"
      style="margin-bottom: 16px"
      fxFlex.gt-md="50%"
      fxFlex.gt-xs="50%"
      style="min-width: 200px; padding: 1rem; "
    >
      <mat-card-header>
        <mat-card-title>{{ rival.name }}</mat-card-title>
        <!-- <mat-card-subtitle>{{ rival.biography['full-name'] || 'Nombre completo no disponible' }}</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image [src]="rival.image.url" alt="{{ rival.name }}" />
      <mat-card-content>
        <p>
          <strong>Inteligencia:</strong> {{ rival.powerstats.intelligence }}
        </p>
        <p><strong>Fuerza:</strong> {{ rival.powerstats.strength }}</p>
        <p><strong>Velocidad:</strong> {{ rival.powerstats.speed }}</p>
        <p><strong>Dureza:</strong>{{ hero.powerstats.durability }}</p>
        <p><span>Poder:</span>{{ hero.powerstats.power }}</p>
        <p><span>Combate:</span>{{ hero.powerstats.combat }}</p>
        <p><strong>Comparación:</strong> {{ compareStats(hero, rival) }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
