// heroes-app\src\app\heroes\dc\dc.component.scss
.dc-background{
  background-image: url('../../images/dc.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 40vh;
  @media (max-width: 62rem) {
      min-height: 20vh !important;
  }
}
